/** 
-Import Google Fonts and Define font variables
-Define color varibalbes
-Reset CSS properties(margin, padding)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");
:root {
  --color-primary-very-dark-blue: hsl(233, 47%, 7%);
  --color-primary-desaturated-blue: hsl(244, 38%, 16%);
  --color-primary-soft-violet: hsl(277, 64%, 61%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-neutral-transparent-white2: hsla(0, 0%, 100%, 0.6);
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);
  --color-dark-blue: hsl(234, 12%, 34%, 0.5);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-light-gray: hsl(0, 0%, 98%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature {
  margin-top: 8rem;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 950px) {
  .feature {
    flex-direction: column;
    margin-top: 8.5rem;
    min-width: 80vw;
  }
}
.feature__body {
  margin-bottom: 6.4rem;
  max-width: 54rem;
  color: var(--color-grayish-blue);
}
.feature__title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 200;
  letter-spacing: 0.025rem;
}
@media screen and (max-width: 950px) {
  .feature__title {
    font-size: 2.4rem;
  }
}
.feature__title-bold {
  font-weight: 700;
  color: #3d3c3c;
  white-space: pre;
}
@media screen and (max-width: 950px) {
  .feature__title-bold {
    white-space: normal;
  }
}
.feature__text {
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  line-height: 2.5rem;
}
.feature .feature-cards {
  max-width: 111.1rem;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 950px) {
  .feature .feature-cards {
    flex-direction: column;
  }
}
.feature .feature-cards__card {
  border-radius: 0.5rem;
  background-color: white;
  padding: 3.2rem;
  flex-basis: 1;
  width: 100%;
  margin: 1.5rem;
  align-self: center;
  max-width: 35rem;
  height: 25rem;
  box-shadow: 0px 5px 5px 1px var(--color-dark-blue);
  position: relative;
}
.feature .feature-cards .card-top-cyan {
  border-top: 0.5rem solid var(--color-primary-cyan);
}
.feature .feature-cards .card-top-red {
  border-top: 0.5rem solid var(--color-primary-red);
}
.feature .feature-cards .card-top-orange {
  border-top: 0.5rem solid var(--color-primary-orange);
}
.feature .feature-cards .card-top-blue {
  border-top: 0.5rem solid var(--color-primary-blue);
}
.feature .feature-cards .feature-card__title {
  margin-bottom: 0.6rem;
  font-size: 2rem;
}
.feature .feature-cards .feature-card__text {
  font-size: 1.3rem;
  color: var(--color-grayish-blue);
}
.feature .feature-cards .feature-card__img {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.feature .feature-cards-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

/*# sourceMappingURL=main.css.map */
