.feature {
  margin-top: 8rem;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 950px) {
    flex-direction: column;
    margin-top: 8.5rem;
  }

  &__body {
    margin-bottom: 6.4rem;
    max-width: 54rem;
    color: var(--color-grayish-blue);
  }
  &__title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 200;
    letter-spacing: 0.025rem;
    @media screen and (max-width: 950px) {
      font-size: 2.4rem;
    }
  }
  &__title-bold {
    font-weight: 700;
    color: rgb(61, 60, 60);
    white-space: pre;
  }
  &__text {
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    line-height: 2.5rem;
  }
  .feature-cards {
    max-width: 111.1rem;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 950px) {
      flex-direction: column;
    }
    &__card {
      // flex-basis: 50%;
      border-radius: 0.5rem;
      background-color: white;
      padding: 3.2rem;
      flex-basis: 1;
      width: 100%;
      margin: 1.5rem;
      align-self: center;
      max-width: 35rem;
      height: 25rem;
      box-shadow: 0px 1px 8px var(--color-dark-blue);
      position: relative;
    }
    .card-top-cyan {
      border-top: 0.5rem solid var(--color-primary-cyan);
    }
    .card-top-red {
      border-top: 0.5rem solid var(--color-primary-red);
    }
    .card-top-orange {
      border-top: 0.5rem solid var(--color-primary-orange);
    }
    .card-top-blue {
      border-top: 0.5rem solid var(--color-primary-blue);
    }
    .feature-card__title {
      margin-bottom: 0.6rem;
      font-size: 2rem;
    }
    .feature-card__text {
      font-size: 1.3rem;
      color: var(--color-grayish-blue);
    }
    .feature-card__img {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }

  .feature-cards-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
}
